<div id="<%= dom_id event %>">
  <p>
    <strong>Date:</strong>
    <%= event.date %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= event.status %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= event.name %>
  </p>

  <p>
    <strong>Organizer:</strong>
    <%= event.organizer %>
  </p>

  <p>
    <strong>Coordinator:</strong>
    <%= event.coordinator %>
  </p>

  <p>
    <strong>Sponsor:</strong>
    <%= event.sponsor %>
  </p>

  <p>
    <strong>Event type:</strong>
    <%= event.event_type %>
  </p>

</div>
